{% extends "base.html" %}

{% block navbar %}
{% include 'sub_templates/__header.html' %}
{% endblock %}

{% block app_content %}
{{ super() }}
    <div id="available-classes" class="container text-center px-2 mt-5">
        {% for class_batched in classes|batch(3) %}
            <div class="row g-2 d-flex justify-content-center">
            {% for class in class_batched %}
                {% include 'sub_templates/__manage_booking_card.html' %}
            {% endfor %}
            </div>
        {% endfor %}
    </div>
{% endblock %}



{% block scripts %}
    {{ super() }}
    <script>
        const availableClassesContainer = document.getElementById('available-classes');
        const manageBookings = async e => {
            if(e.target.nodeName === "BUTTON") {
                const btn = e.target;
                const action = btn.classList.contains('makebooking') ? 'makebooking' : 'cancelbooking';
                const classId = e.target.parentElement.dataset.classId;
                const studentCount = [...e.target.parentElement.children]
                .filter(elem => elem.classList.contains("student-count"))[0]
                const msg = [...e.target.parentElement.children]
                .filter(elem => elem.classList.contains("message"))[0]
                const res = await fetch(
                    `/${action}`,
                    {
                        method: 'POST',
                        headers: { 'Content-Type': 'application/json' },
                        body: JSON.stringify({classId: classId})
                    }
                )
                if(res.ok) {
                    const data = await res.json();
                    studentCount.innerHTML = parseInt(data.studentCount) === 1 ?
                        `<i class="fa-solid fa-person"></i> ${data.studentCount} Student Registered` : 
                        `<i class="fa-solid fa-person"></i> ${data.studentCount} Students Registered`;
                    msg.textContent = `${data.message}`;
                    if(data.state == 'ADDED') {
                        btn.className = 'cancelbooking btn bg-danger-subtle'
                        btn.textContent = 'Cancel Booking';
                    } else if (data.state === 'REMOVED') {
                        btn.className = 'makebooking btn bg-success-subtle'
                        btn.textContent = 'Book Class';
                } else {
                    console.log('Some kind of problem');
                    msg.textContent = `There was an issue connecting to the server`;
                }
            }
        }
    }
        availableClassesContainer.addEventListener('click', manageBookings);
    </script>
{% endblock %}