{% extends "base.html" %}

{% block head %}
{{ super () }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/booking_modal.css') }}">
{% endblock %}

{% block navbar %}
{% include 'sub_templates/__header.html' %}
{% endblock %}

{% block app_content %}
{{ super() }}
    <div class="booking-modal hidden">
        <button class="btn-close btn-warning"></button>
        <h3 class="booking-confirm-msg"></h3>
        <button class="btn btn-primary confirm">Confirm</button>
        <div class="alert alert-success hidden alert-message"></div>
    </div>
    <div class="overlay hidden"></div>
    <div id="available-classes" class="container overflow-hidden">
        {% for class_batched in classes|batch(3) %}
            <div class="row mt-2 g-5 gy-2 justify-content-center">
                {% for class in class_batched %}
                    {% include 'sub_templates/__manage_booking_card.html' %}
                {% endfor %}
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}


{% block scripts %}
    {{ super() }}
    <script>
        const modal = document.querySelector(".booking-modal");
        const overlay = document.querySelector(".overlay");
        const confirmMsg = document.querySelector(".booking-confirm-msg");
        const closeBtn = document.querySelector('.btn-close');
        const confirmBtn = document.querySelector('.confirm');
        const alertMessage = document.querySelector('.alert-message');
        const availableClassesContainer = document.getElementById('available-classes');
        let btn, action, classId, classStart, studentCount;

        const manageBookings = e => {
            if(e.target.nodeName === "BUTTON") {
                btn = e.target;
                action = btn.classList.contains('makebooking') ? 'makebooking' : 'cancelbooking';
                classId = e.target.parentElement.dataset.classId;
                const children = [...e.target.parentElement.children];
                classStart = children.filter(elem => elem.classList.contains('class-start-time'))[0]
                    .children[1].textContent;
                console.log(classStart)
                studentCount = children.filter(elem => elem.classList.contains("student-count"))[0]
                displayModal(action, classStart);
            }
        }

        const displayModal = (action, classStart) => {
            modal.style.display = 'flex';
            overlay.classList.toggle('hidden');
            if(action === 'makebooking') {
                confirmMsg.textContent = `Are you sure you want to book the class beginning on ${classStart}`;
            } else {
                confirmMsg.textContent = `Are you sure you want to cancel the class beginning on ${classStart}`;
            }
        }

        const sendData = async () => {  
            const res = await fetch(
                    `/${action}`,
                    {
                        method: 'POST',
                        headers: { 'Content-Type': 'application/json' },
                        body: JSON.stringify({classId: classId})
                    }
            )
            if(res.ok) {
                const data = await res.json();
                updateCardUI(data);
                updateModalUI(data);
            } else {
                console.log('There was an error');
            }
        }

        const updateCardUI = (data) => {
            studentCount.innerHTML = parseInt(data.studentCount) === 1 ?
                `<i class="fa-solid fa-person"></i> ${data.studentCount} Student Registered` : 
                `<i class="fa-solid fa-person"></i> ${data.studentCount} Students Registered`;
            if(data.state == 'ADDED') {
                btn.className = 'cancelbooking btn bg-danger-subtle p-2'
                btn.textContent = 'Cancel Booking';
            } else if (data.state === 'REMOVED') {
                btn.className = 'makebooking btn bg-success-subtle p-2'
                btn.textContent = 'Book Class';
            } else {
                console.log('Some kind of problem');
            }
        }

        const updateModalUI = (data) => {
            alertMessage.classList.toggle('hidden');
            alertMessage.textContent = data.message;
            confirmBtn.style.display = 'None'
            confirmMsg.textContent = ``;
        }

        const hideModal = () => {
            overlay.classList.add('hidden');
            modal.style.display = 'none';
            modal.classList.add('hidden');
            alertMessage.textContent = '';
            alertMessage.classList.add('hidden');
            confirmBtn.style.display = 'block';
        }
        availableClassesContainer.addEventListener('click', manageBookings);
        overlay.addEventListener('click', hideModal);
        closeBtn.addEventListener('click', hideModal);
        confirmBtn.addEventListener('click', sendData);    
    </script>

{% endblock %}