{% extends "base.html" %}

{% block navbar %}
{% include 'sub_templates/__header.html' %}
{% endblock %}

{% block app_content %}
{{ super() }}
<div class="d-flex justify-content-center align-items-center">
    <form  class="d-flex flex-column justify-content-center"method="post" novalidate>
        {{ form.hidden_tag() }}
        <p class="w-100">
           {{ form.email.label(class="form-label") }} <br>
           {{ form.email(class="form-control") }} <br>
           {% for error in form.email.errors %}
           <span class="text-danger">{{ error }}</span>
           {% endfor %}
        </p>
        <p class="w-100">
           {{ form.password.label(class="form-label") }} <br>
           {{ form.password(class="form-control") }}<br>
           {% for error in form.password.errors %}
           <span class="text-danger">{{ error }}</span>
           {% endfor %}
        </p>
        <p class="w-100">
            {{ form.remember_me.label(class="form-label") }}
            {{ form.remember_me() }}
        </p>
        <p class="w-100">
            <a href="{{ url_for('auth_bp.reset_password_request') }}">Password Recovery</a>
        </p>
        <div class="buttons w-100">
            <p class="w-100">
                {{ form.submit(class="btn btn-primary w-100") }}
            </p>
            <hr>
            <a class="w-100 "href="{{ url_for('auth_bp.oauth2_authorize', provider='google') }}">
                <img class="w-100" id='google-login' src="{{ url_for('static', filename='google/1x/btn_google_signin_dark_normal_web.png') }}" alt='Sign in with google'>
            </a>
    </div>
    </form>
</div>
{% endblock %}
