{% extends "base.html" %}

{% block navbar %}
{% include 'sub_templates/__header.html' %}
{% endblock %}

{% block app_content %}
{{ super() }}
<div class="d-flex justify-content-center">
    <form class="" action="" method="post">
        <h1>Reset Password</h1>
        {{ form.hidden_tag() }}
        <p>
            {{ form.email.label }}<br>
            {{ form.email(class="w-100") }}<br>
            {% for error in form.email.errors %}
            <span>{{ error }}</span>
            {% endfor %}
        </p>
        <p>{{ form.submit(class="btn btn-danger") }}</p>
    </form>
</div>
{% endblock %}