{% extends "base.html" %}

{% block navbar %}
{% include 'sub_templates/__header.html' %}
{% endblock %}

{% block app_content %}
{{ super () }}
<div class="d-flex justify-content-center">
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <h1>Reset Your Password</h1>
        <p>
            {{ form.password.label(class="form-label") }}<br>
            {{ form.password(class="form-control") }}<br>
            {% for error in form.password.errors %}
            <span class="text-danger">{{ error }}</span>
            {% endfor %}
        </p>
        <p>
            {{ form.confirm_password.label(class="form-label") }}<br>
            {{ form.confirm_password(class="form-control") }}<br>
            {% for error in form.confirm_password.errors %}
            <span class="text-danger">{{ error }}</span>
            {% endfor %}
        </p>
        <p>{{ form.submit(class="btn btn-danger") }}</p>
    </form>
</div>
{% endblock %}