{% extends "bootstrap/base.html" %}
{% block title %}
    {% if title %}
    <title>{{ title }} : Booking App</title>
    {% else %}
    <title>Welcome to this Booking App</title>
    {% endif %}
{% endblock %}
{% block navbar %}
{% endblock %}
<body>
{% block content %}
{% with messages = get_flashed_messages() %}
    {% if messages %}
    <div class="messages">
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </div>
    {% endif %}
{% endwith %}
{% endblock %}
</body>
{% block scripts %}
    {{ super() }}
    {{ moment.include_moment() }}
{% endblock %}
</html>