{% extends "base.html" %}

{% block navbar %}
{% include 'sub_templates/__header.html' %}
{% endblock %}

{% block app_content %}
{{ super() }}
<form action="" method="post" novalidate>
    {{ form.hidden_tag() }}
    <p>
        {{ form.id.label }} <br>
        {{ form.id(readonly=true) }} <br>
        {% for error in form.id.errors %}
        <span>{{ error }}</span>
        {% endfor %}
    </p>
    <p>
        {{ form.join_date.label }} <br>
        {{ form.join_date(readonly=true) }} <br>
        {% for error in form.join_date.errors %}
        <span>{{ error }}</span>
        {% endfor %}
    </p>
    <p>
        {{ form.last_login.label }} <br>
        {{ form.last_login(readonly=true) }} <br>
        {% for error in form.last_login.errors %}
        <span>{{ error }}</span>
        {% endfor %}
    </p>
    <p>
        {{ form.first_name.label }} <br>
        {{ form.first_name() }} <br>
        {% for error in form.first_name.errors %}
        <span>{{ error }}</span>
        {% endfor %}
    </p>
    <p>
       {{ form.last_name.label }} <br>
       {{ form.last_name() }} <br>
       {% for error in form.last_name.errors %}
       <span>{{ error }}</span>
       {% endfor %}
    </p>
    <p>
       {{ form.email.label }} <br>
       {{ form.email() }} <br>
       {% for error in form.email.errors %}
       <span>{{ error }}</span>
       {% endfor %}
    </p>
    <p>
        {{ form.edit_submit() }}
</form>

{% endblock %}