{% extends "base.html" %}

{% block content %}
<div class="filters">
    <button id="upcoming">Upcoming Classes</button>
    <button id="completed">Completed Classes</button>
</div>
<div class="user-bookings">
{% if userClasses %}
{% for class in userClasses %}
    <div class="class" data-class-complete="{{ currtime > class.end_time }}" data-class-id="{{ class.id }}">
        <p>Class ID: {{ class.id }}</p>
        <!-- <p>Start Time: {{ class.start_time}} </p> -->
        <p>Class Start Time: {{ moment(class.start_time).format('LLL') }}</p>
        <p>Class Finish Time: {{ moment(class.end_time).format('LLL') }}</p>  
    </div>
{% endfor %}
{% else %}
<p>No bookings yet</p>
{% endif %}
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
<script>
    const upcomingBtn = document.getElementById('upcoming');
    const completedBtn = document.getElementById('completed');
    const classes = document.querySelectorAll('.class')
    upcomingBtn.addEventListener('click', e => {
        for(let i=0; i < classes.length; i++) {
            if(classes[i].dataset.classComplete === "True") {
                classes[i].style.display = 'none';
            } else {
                classes[i].style.display = 'block';
            }
        }
        upcomingBtn.style.backgroundColor = 'green'
        completedBtn.style.backgroundColor = ''
    });
    completedBtn.addEventListener('click', e => {
        for(let i=0; i < classes.length; i++) {
            if(classes[i].dataset.classComplete === "False") {
                classes[i].style.display = 'none';
            } else {
                classes[i].style.display = 'block';
            }
        }
        completedBtn.style.backgroundColor = 'green'
        upcomingBtn.style.backgroundColor = ''
    });
</script>
{% endblock %}